@layer global {
  /* Fonts */
  :root {
    --fs-14: calc(14 / 16 * 1rem);
    --fs-14: calc(14 / 16 * 1rem);
    --fs-16: calc(16 / 16 * 1rem);
    --fs-42: calc(42 / 16 * 1rem);
    --fs-72: calc(72 / 16 * 1rem);

    /* Tablet */
    @media (width >= calc(600px / 16 * 1rem)) {
    }
  }

  body {
    font-family: "Inter", sans-serif;
    background-color: var(--color-main-bg);
    color: var(--color-text-primary);
  }

  h1,
  h2,
  h3 {
    line-height: 1.1;
  }

  /* Colors */
  :root {
    --c-white: hsl(0, 0%, 100%);
    --c-black: hsl(0, 0%, 14%);
    --c-drkgrey: hsl(0, 1%, 20%);
    --c-mustard: hsl(44, 65%, 57%);

    --color-main-bg: var(--c-white);
    --color-text-primary: var(--c-drkgrey);
    --color-text-light: var(--c-white);
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }

  a {
    text-decoration: none;
  }

  img,
  picture,
  svg {
    display: block;
    max-width: 100%;
  }

  .wrapper {
    width: min(calc(100% - 48px), calc(1200 / 16 * 1rem));
    margin-inline: auto;
  }
}

@layer utilities {
  /* Hidden class for accessibility */
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    left: -10000px;
    top: auto;
    overflow: hidden;
  }
}
