@layer global {
  /* Fonts */
  :root {
    --fs-14: calc(14 / 16 * 1rem);
    --fs-14: calc(14 / 16 * 1rem);
    --fs-16: calc(16 / 16 * 1rem);
    --fs-42: calc(42 / 16 * 1rem);
    --fs-72: calc(72 / 16 * 1rem);

    /* Tablet */
    @media (width >= calc(600 / 16 * 1rem)) {
    }
  }

  body {
    font-family: "Inter", sans-serif;
    background-color: var(--color-main-bg);
    color: var(--color-text-primary);
  }

  h1,
  h2,
  h3 {
    line-height: 1.1;
  }

  /* Colors */
  :root {
    --c-white: hsl(0, 0%, 100%);
    --c-black: hsl(0, 0%, 14%);
    --c-drkgrey: hsl(0, 1%, 20%);
    --c-mustard: hsl(44, 65%, 57%);

    --color-main-bg: var(--c-white);
    --color-text-primary: var(--c-drkgrey);
    --color-text-light: var(--c-white);
    --color-header-bg: var(--c-mustard);
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }

  a {
    text-decoration: none;
  }

  img,
  picture,
  svg {
    display: block;
    max-width: 100%;
    height: auto;
  }

  .wrapper {
    width: min(calc(100% - 48px), calc(1200 / 16 * 1rem));
    margin-inline: auto;
    overflow: hidden;
  }
}

@layer components {
  .topnav {
    background-color: var(--color-header-bg);
    max-width: 100%;
    width: 100%;
  }

  .topNavWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-block: 8px;

    @media (width >= calc(600 / 16 * 1rem)) {
      padding-block: 15px;
    }
  }

  .logo {
    width: calc(70 / 16 * 1rem);
    &:hover {
      opacity: 0.8;
    }

    @media (width >= calc(600 / 16 * 1rem)) {
      width: calc(128 / 16 * 1rem);
    }
  }
  .navLinks {
    list-style-type: none;
    padding: 0;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: var(--fs-14);
    display: flex;
    gap: 20px;
  }

  .navItem {
    &:hover {
      opacity: 0.8;
      text-decoration: underline 2px;
      text-underline-offset: 4px;
    }
  }

  .navItem a {
    color: var(--color-text-primary);
  }
}
@layer utilities {
  /* Hidden class for accessibility */
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    left: -10000px;
    top: auto;
    overflow: hidden;

    &.skip:focus {
      left: 0;
      width: auto;
      height: auto;
      background: #fff;
      padding: 10px;
      border: 1px solid;
    }
  }
}
